<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="../Style/style.css">

	<title>CPMS</title>
</head>
<body class="Body">
	<!-- CONTENT -->
	<section id="Share_content">
		
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Campaign Name</h1> 
				</div>
				<div class="left">
					<h1>Founder Name</h1> 
				</div>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' style="font-size: 70px; color: #4adbdb"></i>
					<span class="text">
						<h3>1020</h3>
						<p>New Order</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' style="font-size: 70px; color: #4adbdb;"></i>
					<span class="text">
						<h3>2834</h3>
						<p>Visitors</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' style="font-size: 70px; color: #4adbdb"></i>
					<span class="text">
						<h3>$2543</h3>
						<p>Total Sales</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' style="font-size: 70px; color: #4adbdb"></i>
					<span class="text">
						<h3>$2543</h3>
						<p>Total Sales</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<h3>Form of New Participant</h3>
					<form class="New-C-form" method="post" action="">
						<label for="">Participant Name</label>
						<input type="text" name="">
						<br><br>
						<label for="">Amount To Pay</label>
						<input type="text" name="">
						<br><br>
						<div class="adding-new-campaign" style="margin-right: 1%;">
							<a href="">
								<i class='bx bx-plus'></i>
								<p>Involving To This Campaign</p>
							</a>
						</div>
					</form>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="../Script/script.js"></script>
</body>
</html>